* {
    font-family: urbanist;
    font-size: 24px;
    color: #e5f4e3;
}

body {
    background-color: black;
}

/* header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px 64px;
}

header ul {
    display: flex;
    gap: 48px;
}

header li {
    list-style: none;
}

header a{
    text-decoration: none;
}

/* main */
main {
    margin: 0 160px;
}


/* openning section */
.openning {
    width: 60%;
}

#open {
    font-weight: 200;
    font-size: 64px;
}

#hi {
    font-weight: 900;
    font-size: 128px;
    margin: 0;
}

#ruiguan {
    font-weight: 200;
    font-size: 64px;
}

/* button section */

.buttons p {
    font-weight: bold;
    font-size: 24px;
}

#build {
    font-style: italic;
    padding: 0 8px;
    background-color: #e5f4e3;
    border-radius: 12px;
    color: rgb(154, 48, 48);
}

.buttons div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8px;
}

.button {
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 1px;
    width: 180px;
    height: 50px;
    margin: 0 24px;
    outline: 0;
    border: 2px solid #e5f4e3;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
  
.button:after {
    content: "";
    background-color: rgb(154, 48, 48);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 8px;
    left: 8px;
    transition: 0.2s;
}
  
.button:hover:after {
    top: 0px;
    left: 0px;
}

/* physical section */

.physical {
    display: grid;
    margin: 128px 0;
    grid-template-columns: 60% 40%;
    grid-template-rows: 500px 50px;
    justify-content: center;
    align-items: center;
}

.radio-buttons {
    grid-row: 2;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 160px 1fr 5%;
}

#labels {
    position: relative;
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    grid-template-rows: 1;
    justify-items: center;
    align-items: center;
}

/* text on the right */

.text-right-top {
    align-self: flex-end;
}

.projectinfo {
    margin-left: 48px;
    padding-left: 24px;
    border-left: solid #e5f4e3 5px;
}

.text-right-bottom {
    margin-left: 48px;
    padding-left: 29px;
}

.text-right-top p, .text-right-bottom p, .text-right-bottom a {
    font-size: 16px;
    margin: 4px 0;
}

.projectinfo h1 {
    margin: 0;
}

.project-2, .project-3, .project-4 {
    display: none;
}

/* carousel on the left */
.carousel-viewport {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.carousel {
    display: flex;
    gap: 5%;
    width: 100%;
    height: 100%;
    transition: 0.2s ease-in-out;
}

.image-container {
    height: 100%;
    width: 100%;
    flex: 0 0 100%;
}

.image-frame {
    position: absolute;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 95%;
    width: 95%;
    border: #e5f4e3 solid 2px;
    font-size: 48px;
    font-weight: bold;
    pointer-events: none;
    z-index: 99;
}

.image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
    height: 95%;
    width: 95%;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}

.image-box:after {
    content: "";
    background-size: cover;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 16px;
    left: 16px;
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.5); 
    background-blend-mode: overlay;
}

#image-box1:after {
    background-image: url(/images/architecture.jpg);

}

#image-box2:after {
    background-image: url(/images/urbandesign.jpg);
}

#image-box3:after {
    background-image: url(/images/exhibition.jpg);
}

#image-box4:after {
    background-image: url(/images/interiors.jpg);
}

.image-box:hover {
    color: rgb(229, 244, 227, 0);
    text-shadow: none;
}

.image-box:hover::after {
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.1); 
    background-blend-mode: overlay;
}

label{
    width:40%; 
    height:40%;
    background:rgba(255,255,255,.2);
    border-radius:50%;
    cursor:pointer;
}

input[type="radio"]{
    position:absolute;
    right:1000%;
}

.slider{
    position: absolute;
    height: 16px;
    width: 16px;
    left: 12.5%;
    transform: translateX(-50%);
    background:#fff;
    border-radius:50%;
    animation-timing-function: ease-in-out;
    animation-duration:0.3s;
    animation-fill-mode: forwards;
    transition: 0.25s 0.05s ease-in-out;
}

@keyframes input1{ 30%, 70% { transform:scale(0.75); } }
@keyframes input2{ 30%, 70% { transform:scale(0.75); } }
@keyframes input3{ 30%, 70% { transform:scale(0.75); } }
@keyframes input4{ 30%, 70% { transform:scale(0.75); } }


/* virtual section */
.virtual {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 500px 50px;
    justify-content: center;
    align-items: center;
    margin: 128px 0;
}

.virtual-viewport {
    grid-column: 2;
    grid-row: 1;
}

.virtual-buttons {
    grid-column: 2;
}

.virtual-text {
    margin-left: 0;
    margin-right: 48px;
}

.project-6, .project-7, .project-8 {
    display: none;
}

/* footer section */
.footer{
    display: flex;
    padding: 48px 64px;
    justify-content: space-between;
}

.footer p, .footer a, .credit-logo, .credit {
    font-size: 16px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 24px;
}

@media only screen and (max-width: 1100px) {
    main {
        margin: 0 80px;
    }

    .getintouch {
        display: none;
    }
} 

@media only screen and (max-width: 900px) {
    .openning {
        width: 100%;
    }

    #open {
        font-size: 48px;
    }
    
    #hi {
        font-size: 96px;
        margin: 0;
    }
    
    #ruiguan {
        font-size: 48px;
    }

    .credit {
        display: none;
    }

    .physical {
        display: grid;
        margin: 64px 0;
        grid-template-columns: 100%;
    }

    .projectinfo {

        margin: 36px 0 0;
        padding-right: 10%;
    }
    
    .text-right-bottom {
        margin-left: 0;
    }

    .virtual {
        display: grid;
        margin: 64px 0;
        grid-template-columns: 100%;
    }
    
    .virtual-viewport {
        grid-column: 1;
        grid-row: 1;
    }
    
    .virtual-buttons {
        grid-column: 1;
    }
    
    .virtual-text {
        margin-right: 0;
    }
    
} 

@media only screen and (max-width: 650px) {
    main {
        margin: 0 24px;
    }

    header {
        padding: 24px;
    }

    .buttons p {
        font-size: 16px;
    }

    .footer {
        padding: 24px;
 
    }

    .icons {
        display: flex;
    }
    
    .credit-logo {
        display: none;
    }

    #build {
        font-size: 16px;
    }
    
    .button {
        font-size: 16px;
        width: 120px;
        height: 36px;
        margin: 0 12px;
    }
}